<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.QuestionMapper">
  <resultMap id="BaseResultMap" type="com.example.entity.Question">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="answer" jdbcType="VARCHAR" property="answer" />
    <result column="joinTime" jdbcType="TIMESTAMP" property="joinTime" />
    <result column="optionA" jdbcType="VARCHAR" property="optionA" />
    <result column="optionB" jdbcType="VARCHAR" property="optionB" />
    <result column="optionC" jdbcType="VARCHAR" property="optionC" />
    <result column="optionD" jdbcType="VARCHAR" property="optionD" />
    <result column="subject" jdbcType="VARCHAR" property="subject" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="paperId" jdbcType="INTEGER" property="paperId" />
  </resultMap>

  <resultMap id="BaseResultMapDto" type="com.example.dto.QuestionDto">
    <id column="id" jdbcType="INTEGER" property="qid" />
    <result column="answer" jdbcType="VARCHAR" property="answer" />
    <result column="joinTime" jdbcType="TIMESTAMP" property="joinTime" />
    <result column="optionA" jdbcType="VARCHAR" property="optionA" />
    <result column="optionB" jdbcType="VARCHAR" property="optionB" />
    <result column="optionC" jdbcType="VARCHAR" property="optionC" />
    <result column="optionD" jdbcType="VARCHAR" property="optionD" />
    <result column="subject" jdbcType="VARCHAR" property="subject" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="paperId" jdbcType="INTEGER" property="paperId" />
    <association property="paper" javaType="com.example.entity.Paper">
      <id column="id" jdbcType="INTEGER" property="id" />
      <result column="joinDate" jdbcType="TIMESTAMP" property="joinDate" />
      <result column="paperName" jdbcType="VARCHAR" property="paperName" />
    </association>
  </resultMap>

  <sql id="Base_Column_List">
    id, answer, joinTime, optionA, optionB, optionC, optionD, subject, type, paperId
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_question
    where id = #{id,jdbcType=INTEGER}
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_question
    where id = #{id,jdbcType=INTEGER}
  </delete>


  <insert id="insertSelective" parameterType="com.example.entity.Question" useGeneratedKeys="true" keyProperty="id">
    insert into t_question
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="answer != null">
        answer,
      </if>
      <if test="joinTime != null">
        joinTime,
      </if>
      <if test="optionA != null">
        optionA,
      </if>
      <if test="optionB != null">
        optionB,
      </if>
      <if test="optionC != null">
        optionC,
      </if>
      <if test="optionD != null">
        optionD,
      </if>
      <if test="subject != null">
        subject,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="paperId != null">
        paperId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="answer != null">
        #{answer,jdbcType=VARCHAR},
      </if>
      <if test="joinTime != null">
        #{joinTime,jdbcType=TIMESTAMP},
      </if>
      <if test="optionA != null">
        #{optionA,jdbcType=VARCHAR},
      </if>
      <if test="optionB != null">
        #{optionB,jdbcType=VARCHAR},
      </if>
      <if test="optionC != null">
        #{optionC,jdbcType=VARCHAR},
      </if>
      <if test="optionD != null">
        #{optionD,jdbcType=VARCHAR},
      </if>
      <if test="subject != null">
        #{subject,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="paperId != null">
        #{paperId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.entity.Question" useGeneratedKeys="true" keyProperty="id">
    update t_question
    <set>
      <if test="answer != null ">
        answer = #{answer,jdbcType=VARCHAR},
      </if>
      <if test="joinTime != null">
        joinTime = #{joinTime,jdbcType=TIMESTAMP},
      </if>
      <if test="optionA != null">
        optionA = #{optionA,jdbcType=VARCHAR},
      </if>
      <if test="optionB != null">
        optionB = #{optionB,jdbcType=VARCHAR},
      </if>
      <if test="optionC != null">
        optionC = #{optionC,jdbcType=VARCHAR},
      </if>
      <if test="optionD != null">
        optionD = #{optionD,jdbcType=VARCHAR},
      </if>
      <if test="subject != null">
        subject = #{subject,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="paperId != null">
        paperId = #{paperId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>


    <select id="selectByPaperId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select distinct
        <include refid="Base_Column_List" />
        from t_question
        where paperId = #{paperId,jdbcType=INTEGER}
    </select>



  <delete id="deleteByPaperId" parameterType="java.lang.Integer">
    delete from t_question
    where paperId = #{paperId,jdbcType=INTEGER}
  </delete>


  <!--<select id="getQuestions"  resultMap="BaseResultMapDto">-->
    <!--select a.id as qid,a.*,b.id,b.joinDate,b.paperName  from t_question a left join t_paper b on a.paperId = b.id where 1=1-->
     <!--<if test="subject != null and subject != ''">-->
           <!--and   a.subject  like concat('%',#{subject},'%')-->
     <!--</if>-->
    <!--<if test="paperId != null">-->
      <!--and  a.paperId = #{paperId}-->
    <!--</if>-->
     <!--ORDER BY b.joinDate DESC limit #{start}, #{pageSize}-->
  <!--</select>-->

  <!--<select id="questionCount" resultType="int"  parameterType="string">-->
   <!--select count(*) from t_question where 1=1-->
    <!--<if test="subject != null and subject != ''">-->
        <!--and subject  like concat('%',#{subject},'%')-->
    <!--</if>-->
    <!--<if test="paperId != null">-->
      <!--and  paperId = #{paperId}-->
    <!--</if>-->
    <!--</select>-->

  <select id="getQuestionById" parameterType="java.lang.Integer" resultMap="BaseResultMapDto">
       select a.*,a.id as qid,b.joinDate,b.paperName  from t_question a INNER join t_paper b on a.paperId = b.id
    where a.id = #{questionId,jdbcType=INTEGER}
  </select>
  <select id="getQuestionsByPaperId" parameterType="java.lang.Integer" resultMap="BaseResultMapDto">
       select a.*,a.id as qid,b.joinDate,b.paperName  from t_question a left join t_paper b on a.paperId = b.id
    where a.paperId = #{paperId,jdbcType=INTEGER}
  </select>
</mapper>